body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-wrapper {
    width: 400px;
    height: 256px;
    border: 1px solid;
    overflow: hidden;
  }

  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;

    animation: banner 25s cubic-bezier(0.92, 0.02, 0, 0.99) 0s infinite normal forwards;
  }

  .img {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
    border: 10px solid white;
  }

  @keyframes banner {
    0% {
      transform: translateX(-0);
    }

    25% {
      transform: translateX(-240px);
    }

    50% {
      transform: translateX(-440px);
    }

    75% {
      transform: translateX(-600px);
    }

    100% {
      transform: translateX(-860px);
    }
  }